<div class="error-not-found">
  <h2 class="error-not-found__title">{{errorNumber}}</h2>
  <p class="error-not-found__subtitle">{{errorText}}</p>
  <div class="error-not-found__links">
    <button class="error-not-found__link">{{navText}}</button>
  </div>
</div>