$color-link: #3369F3;
$color-input-data: #999999;
$color-profile-label: #1E1E1E;
$color-button-exit: #ee3465;
$avatar-background-color: #EFEFEF;


.profile__container {
  margin: 70px auto auto;
  max-width: 396px;
  min-height: 330px;
}

@media screen and (max-width: 850px) {
  .profile__container {
    margin-top: 232px;
    margin-bottom: 232px;

  }
}

@media screen and (max-width: 540px) {
  .profile__container {
    margin-top: 70px;
    margin-bottom: 30px;
    max-width: 260px;
  }
}

.profile__avatar {
  width: 160px;
  height: 160px;
  margin: auto;
  background: $avatar-background-color;
  border-radius: 50%;
}

.profile__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (max-width: 540px) {
  .profile__title {
    text-align: center;
    margin-bottom: 80px;
  }
}

.profile__signin {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.profile__links {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 850px) {
  .profile__links {
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 650px) {
  .profile__links {
    margin-bottom: 0;
  }
}


.profile__register-link {
  margin: 0 0 16px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.profile__button-exit {
  margin: 10px 0 16px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: $color-button-exit;
  text-align: left;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media screen and (max-width: 850px) {
  .profile__register-link {
    font-size: 12px;
  }
}

.profile__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(160, 160, 160, 1);
}

.profile__input {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: black;
  text-align: left;
  outline: none;
}

.profile__button {
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 16px;
  margin-top: 159px;
  width: 100%;
  min-height: 50px;
}

@media screen and (max-width: 440px) {
  .profile__button {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
}

.profile__user-data {
  margin-top: 96px;
}

.profile__input-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  padding: 10px 0;
}

.profile__label {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: $color-profile-label;
}

.profile__input-data {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: $color-input-data;
}

.profile__email-container {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.profile__email {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile__email-data {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.profile__button-submit {
  margin: 0 0 16px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.profile__chat-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.profile__change-data-link {
  letter-spacing: 0;
  background: no-repeat;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  padding: 0 0 10px;
  margin-top: 10px;
  border: 0;
  text-decoration: none;
  color: $color-link;
  border-bottom: 1px solid #aaa3;
  width: 100%;
  text-align: left;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:nth-child(3) {
    border-bottom: none;
  }
}
