<section class="chat">
    <div class="chat__container">
        <div class="chat__container-left">
            <a href="#" class="chat__profile-link">Profile</a>
            <input class="chat__search-conversation" placeholder="Search">
            <div class="chat__conversation-container">
                <div class="chat__conversation-details">
                    <img class="chat__avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5JFW_9DcxIBCuIBZB5LpAsY5XyJ6lQ9uBlW3Qy2KRlM6o2jj_D0YsDb9ubg&s" class="chat__avatar"/>
                    <p class="chat__name">Вадим</p>
                    <p class="chat__text">Привет, как дела!</p>
                    <p class="chat__text-time">10:00</p>
                    <p class="chat__nbr-of-new-messages"></p>
                </div>
              <div class="chat__conversation-details">
                <img class="chat__avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5JFW_9DcxIBCuIBZB5LpAsY5XyJ6lQ9uBlW3Qy2KRlM6o2jj_D0YsDb9ubg&s" class="chat__avatar"/>
                <p class="chat__name">Вадим</p>
                <p class="chat__text">Привет, как дела!</p>
                <p class="chat__text-time">10:00</p>
                <p class="chat__nbr-of-new-messages"></p>
              </div>
                <div class="chat__conversation-details">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5JFW_9DcxIBCuIBZB5LpAsY5XyJ6lQ9uBlW3Qy2KRlM6o2jj_D0YsDb9ubg&s" class="chat__avatar"/>
                    <p class="chat__name">Вадим</p>
                    <p class="chat__text">Привет, как дела!</p>
                    <p class="chat__text-time">10:00</p>
                    <p class="chat__nbr-of-new-messages"></p>
                </div>
                <div class="chat__conversation-details">
                    <img class="chat__avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5JFW_9DcxIBCuIBZB5LpAsY5XyJ6lQ9uBlW3Qy2KRlM6o2jj_D0YsDb9ubg&s" class="chat__avatar"/>
                    <p class="chat__name">Вадим</p>
                    <p class="chat__text">Привет, как дела!</p>
                    <p class="chat__text-time">10:00</p>
                    <p class="chat__nbr-of-new-messages"></p>
                </div>
            </div>
        </div>

        <div class="chat__container-right">
            <div class="chat__header_right">
                <div class="chat__buddy-detail">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5JFW_9DcxIBCuIBZB5LpAsY5XyJ6lQ9uBlW3Qy2KRlM6o2jj_D0YsDb9ubg&s" class="chat__buddy-avatar"/>
                    <p class="chat__buddy-name">Сергей</p>
                </div>
                <div class="chat-conversation-settings">
                    <img/>
                </div>
            </div>

            <div class="chat__conversation-block">
            {{{chatMe1}}}
              {{{chatMe2}}}
              {{{chatBuddy1}}}
              {{{chatBuddy2}}}
            </div>
            <div class="chat__message-send-block">
                <input class="chat__input-send-message">
                <button class="chat__button-send-message" />
            </div>
        </div>
    </div>
</section>
