.chat__container {
  width: 100%;
  min-height: 100%;
  display: grid;
  background: #fbfbfb;
  grid-template-columns: 22% 78%;
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  &-left {
    max-width: 310px;
  }
}

.chat__profile-link {
  display: block;
  margin-bottom: 23px;
  color: rgba(153, 153, 153, 1);
  margin-top: 21px;
  margin-right: 10px;
  text-align: right;
}

.chat__search-conversation {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  display: block;
  width: 290px;
  height: 32px;
  margin: 0 10px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(239, 239, 239, 1);
}

.chat__conversation-details {
  margin: 12px 10px;
  border-bottom-color: rgba(234, 234, 234, 1);
  border-bottom: 1px solid rgba(234, 234, 234, 1);
  border-top: 1px solid rgba(234, 234, 234, 1);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 70%;
}
.chat__avatar {
  height: 47px;
  width: 47px;
  border-radius: 110px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

.chat__name {
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.chat__text {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(153, 153, 153, 1);
}
.chat__text-time {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  font-family: Inter;
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
}

.chat__buddy-avatar {
  height: 34px;
  width: 34px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 100px;
}

.chat__header_right {
  display: flex;
}

.chat__buddy-detail {
  display: flex;
}

.chat__buddy-name {
  justify-content: center;
}

.chat__container-message {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 20px 10px 0px;
}

.chat__container-message_darker {
  background: rgba(228, 237, 253, 1);
}

.chat__time-right {
  color: #aaa;
}

.chat__time-left {
  color: #999;
}

.chat__input-send-message {
  background: rgba(239, 239, 239, 1);
  border: 0;
  min-width: 90%;
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
  padding: 10px;
}

.chat__button-send-message {
  width: 28px;
  height: 28px;
  border: none;
  background-repeat: no-repeat;
  background-color: #fbfbfb;
  background-image: url("./images/send-text.svg");
}

.chat__message-send-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
