.dialogs__container{
height: 100vh;
display: flex;
position: relative;
}

.dialogs__container-left{
width: 30%;
height: 100%;
background: #fbfbfb;
box-sizing: border-box;
border-right: 1px solid #eaeaea;
padding: 20px 10px 0;
overflow-y: auto;
}

.dialogs__link-to-profile {
  margin: 0 0 15px;
}

.dialogs__profile-info-text-container{
  color: grey;
  cursor: pointer;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.dialogs__profile-link-wrapper {
  display: flex;
  justify-content: flex-end;
}

.dialogs__dialog-card-container {
  margin-top: 20px;
}
.dialogs__dialog-card {
  cursor: pointer;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 12px 0;
  display: flex;
  position: relative;
}

.dialogs__container-right {
  width: 85%;
  height: 100%;
}

.dialogs__container-right-dialog-content {
  height: calc(100% - 200px);
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-top: 48px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.dialogs__container-right-send-message-wrapper {
  height: 60px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 11px 0;
  display: flex;
}
