$color-link: #3369f3;

.profile__change-data-link {
    border-bottom: 1px solid#EAEAEA;
    color: $color-link;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
