<div class="error-not-found">
    <h2 class="error-not-found__title">{{error-number}}</h2>
    <p class="error-not-found__subtitle">{{error-text}}</p>
    <div class="error-not-found__links">
        <button class="error-not-found__link">{{nav-text}}</button>
    </div>
</div>
