<html>
    <head>
        <link rel="stylesheet" href="style.scss">
        <script src="../script.js"></script>
    </head>
    <body>
    <a href="../pages/login.hbs">Login page</a>
    <a href="../pages/register.hbs">Register page</a>
    <a href="../pages/profile.hbs">Profile</a>
    <a href="../pages/profile-edit-data.hbs">Profile - change data </a>
    <a href="../pages/profile-password-change.hbs">Profile - change password </a>
    {{> popup title="Upload file"}}
    </body>

</html>

