<section class="login__container">
    <h2 class="login__title">Sign in</h2>
    <form class="login__form">
        <div class="login__input__area">
            <p class="login__input-title">Email</p>
            <input
                    id="email"
                    class="login__input"
                    placeholder='Email'
                    name="email"
                    type="email"
            />
        </div>

        </div>
        <div class="login__input__area">

            <div class="login__input__area">
                <p class="login__input-title">Password</p>
                <input
                        id="password"
                        class="login__input"
                        name="password"
                        placeholder='Password'
                        type="password"
                />
            </div>
        </div>
    </form>
    {{> button text="Enter" }}
    <a href="#" class="login__link">Create account</a>
</section>
