<section class="popup__container">
    <h2 class="popup__title">{{title}}</h2>
    <form class="popup__form">
            <div class="popup__input-area">
                <p><a class="popup__add-file" href="#">Select file on computer</a></p>
            </div>
    </form>
    {{> button text="Change" }}
</section>
