<form class="profile" >
    <div class="profile__container">
        <div class="profile__avatar"></div>
        <div class="profile__user-data">

            <div class="profile__input-container">
                <label class="profile__label">Mail</label>
                <input type="email" name="name" class="profile__input" placeholder="Mail"/>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">Login</label>
                <input type="text" name="name" class="profile__input" placeholder="Login" />
            </div>

            <div class="profile__input-container">
                <label class="profile__label">Name</label>
                <input type="text" name="name" class="profile__input" placeholder="Name"/>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">Surname</label>
                <input type="text" name="name" class="profile__input" placeholder="Surname"/>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">Nickname</label>
                <input type="text" name="name" class="profile__input" placeholder="Nickname"/>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">Phone number</label>
                <input type="text" name="name" class="profile__input" placeholder="Phone number"/>
            </div>
          {{> button text="Save" }}
        </div>

    </div>
    </div>
</form>