    <div class="profile__container">
        <div class="profile__avatar"></div>
        <div class="profile__user-data">

            <div class="profile__input-container">
                <label class="profile__label">Mail</label>
                <p class="profile__input-data">test@test.com</p>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">Login</label>
                <p class="profile__input-data">alex777</p>
            </div>

        <div class="profile__input-container">
            <label class="profile__label">Name</label>
            <p class="profile__input-data">Alex</p>
        </div>

    <div class="profile__input-container">
        <label class="profile__label">Surname</label>
        <p class="profile__input-data">Malykh</p>
    </div>

    <div class="profile__input-container">
        <label class="profile__label">Nickname</label>
        <p class="profile__input-data">malykhs</p>
    </div>

    <div class="profile__input-container">
        <label class="profile__label">Phone number</label>
        <p class="profile__input-data">777777777</p>
    </div>
            <div class="profile__chat-data-container">
            <button class="profile__change-data-link">Change email</button>
            <button class="profile__change-data-link">Change password</button>
            <button class="profile__change-data-link">Change avatar</button>
                <button class="profile__button-exit">Log out</button>
        </div>
        </div>

    </div>
    </div>