<form class="profile">
    <div class="profile__container">
        <div class="profile__avatar"></div>
        <div class="profile__user-data">

            <div class="profile__input-container">
                <label class="profile__label">Old password</label>
                <input type="password" name="name" class="profile__input" placeholder="Old password"/>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">New password</label>
                <input type="password" name="name" class="profile__input" placeholder="New password"/>
            </div>

            <div class="profile__input-container">
                <label class="profile__label">New password again</label>
                <input type="password" name="name" class="profile__input" placeholder="New password again"/>
            </div>
            {{> button text="Save" }}
        </div>

    </div>
</form>
