<section class="register__container">
    <h2 class="register__title">Register</h2>
    <form class="register__form">
        <div class="register__input__area">
            <p class="register__input-title">Email</p>
            <input
                    id="email"
                    class="register__input"
                    name="email"
                    type="email"
            />
        </div>

        <div class="register__input__area">
            <p class="register__input-title">register</p>
            <input
                    id="email"
                    class="register__input"
                    name="email"
                    type="text"
            />
        </div>

        <div class="register__input__area">
            <p class="register__input-title">Name</p>
            <input
                    id="email"
                    class="register__input"
                    name="email"
                    type="text"
            />
        </div>

        <div class="register__input__area">
            <p class="register__input-title">Surname</p>
            <input
                    id="email"
                    class="register__input"
                    name="email"
                    type="text"
            />
        </div>

        <div class="register__input__area">
            <p class="register__input-title">Phone number</p>
            <input
                    id="password"
                    class="register__input"
                    name="password"
                    type="text"
            />
            <div class="register__input__area">
                <p class="register__input-title">Password</p>
                <input
                        id="password"
                        class="register__input"
                        name="password"
                        type="password"
                />
                <div class="register__input__area">
                    <p class="register__input-title">Password (again)</p>
                    <input
                            id="password"
                            class="register__input"
                            name="password"
                            type="password"
                    />
            {{> button text="Register"}}
    </form>
    <div class="register__signin">
        <a href="#" class="register__login-link">Enter</a>
    </div>
</section>