<section class="popup__container">
  {{{popupContent}}}
  <div class="popup__input-area">
    <p><a class="popup__add-file" href="#">Select file on computer</a></p>
  </div>
  {{{buttonPopup}}}
</section>