<html>
<head>
    <link rel="stylesheet" href="style.scss">
</head>
<body>
<a href="pages/login/login.hbs">Login page</a>
<a href="pages/register/register.hbs">Register page</a>
<a href="pages/profile/profile.hbs">Profile</a>
<a href="pages/profile/profile-edit-data.hbs">Profile - change data </a>
<a href="pages/profile/profile-password-change.hbs">Profile - change password </a>
<a href="pages/profile/popup-change-avatar.hbs">Popup - change avatar </a>
<a href="pages/errorMessage/errorMessage.hbs">Error Message</a>
<a href="pages/chat/chat.hbs">Chat</a>
</body>
</html>
