<div class="chat__container">
    <div class="chat__header">
        //here I will add module?
        <div class="chat__name">
            Вадим
        </div>
        <div class="chat__menu"></div>
    </div>
    <div class="chat__conversation">
        <div class="chat__conversation">
            <div class="chat__message">
                Шалом, брат. Как дела?
            </div>
            <div class="chat__friend-message">
                Hi! I'm fine. And you?
            </div>
        </div>
        <div class="chat__input-area">
            <input placeholder="text message here" class="chat__input">
            <button class="chat__button-send-message"></button>
        </div>
    </div>
</div>
